/* Minimal Navbar */
.navbar--minimal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #e9e5d9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    left: 0;
    top: 0;
    width: 96%;
    z-index: 1000;
    }
  
  /* Logo */
  .navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Login/Signup Button */
  .navbar__login-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s ease-in-out;
    margin: 0; /* Reset any extra margin */
  }
  
  .navbar__login-btn:hover {
    background-color: #388E3C;
  }
  