.save-btn {
    background-color: #ff5733;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .save-btn:hover {
    background-color: #c70039;
  }
  